name: Publish Application with MSDeploy

on:
  workflow_call:
    inputs:
      # .NET Build Inputs
      dotnet_folder:
        description: 'Path to the .NET project folder'
        required: false
        type: string
      global_json_folder:
        description: 'Path to the folder containing global.json'
        required: false
        type: string
        default: '.'
      nuget_accounts:
        description: 'Comma-separated list of GitHub accounts to add as NuGet sources.'
        required: false
        type: string
        default: 'default'
      npm_accounts:
        description: 'Comma-separated list of GitHub accounts to add as NPM sources.'
        required: false
        type: string
        default: 'default'
      dotnet_configuration:
        description: '.NET configuration'
        required: false
        type: string
        default: 'Release'

      # SPA Build Inputs
      spa_folder:
        description: 'Path to the SPA project folder'
        required: false
        type: string
      spa_version_env:
        description: 'Environment variable name to store SPA version'
        required: false
        type: string
        default: 'VITE_VERSION' # or 'REACT_APP_VERSION'
      npm_build_script:
        description: 'NPM build script'
        required: false
        type: string
        default: 'build'
      npm_dist_folder:
        description: 'Path to the SPA distribution folder'
        required: false
        type: string
        default: 'dist'
      persisted_documents_file:
        description: 'Path to the persisted documents file, to be copied to the .NET build folder'
        required: false
        type: string
      npm_analyze_script:
        description: 'NPM analyze script to run after build'
        required: false
        type: string
      analysis_artifacts:
        description: 'Full path to files to upload as analysis artifacts (glob pattern)'
        required: false
        type: string
      
      # Deployment Inputs
      environment_name:
        description: 'Environment name for deployment'
        required: true
        type: string

      # MSDeploy Configuration
      msdeploy_server_url:
        description: 'MSDeploy server URL for deployment'
        required: false
        type: string
      msdeploy_site_name:
        description: 'IIS site name for deployment'
        required: false
        type: string
      msdeploy_username:
        description: 'Username for MSDeploy authentication'
        required: false
        type: string
      msdeploy_allow_untrusted:
        description: 'Allow untrusted SSL certificates'
        required: false
        type: boolean
        default: false
      msdeploy_do_not_delete:
        description: 'Prevent deletion of files not in the source'
        required: false
        type: boolean
        default: false

    secrets:
      # NuGet Secrets
      NUGET_ORG_USER:
        required: false
      NUGET_ORG_TOKEN:
        required: false
      # NPM Secrets
      NPM_TOKEN:
        required: false
      # MSDeploy Secrets
      msdeploy_password:
        description: 'Password for MSDeploy authentication'
        required: false

jobs:
  check_msdeploy_config:
    name: Check MSDeploy Configuration
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment_name }}
    outputs:
      has_config: ${{ steps.check_config.outputs.has_config }}
    steps:
      - name: Check MSDeploy configuration is defined
        id: check_config
        env:
          MSDEPLOY_SERVER_URL: ${{ inputs.msdeploy_server_url || vars.MSDEPLOY_SERVER_URL }}
          MSDEPLOY_SITE_NAME: ${{ inputs.msdeploy_site_name || vars.MSDEPLOY_SITE_NAME }}
          MSDEPLOY_USERNAME: ${{ inputs.msdeploy_username || vars.MSDEPLOY_USERNAME }}
          MSDEPLOY_PASSWORD: ${{ secrets.msdeploy_password || vars.MSDEPLOY_PASSWORD }}
        shell: bash
        run: |
          if [ -z "$MSDEPLOY_SERVER_URL" ] || [ -z "$MSDEPLOY_SITE_NAME" ] || [ -z "$MSDEPLOY_USERNAME" ] || [ -z "$MSDEPLOY_PASSWORD" ]; then
            echo "has_config=false" >> $GITHUB_OUTPUT
            echo "One or more MSDeploy configuration values are missing."
          else
            echo "has_config=true" >> $GITHUB_OUTPUT
          fi

  build_dotnet:
    name: Build .NET Backend
    if: inputs.dotnet_folder
    uses: Shane32/SharedWorkflows/.github/workflows/build-dotnet.yml@2.3.0
    with:
      dotnet_folder: ${{ inputs.dotnet_folder }}
      global_json_folder: ${{ inputs.global_json_folder }}
      nuget_accounts: ${{ inputs.nuget_accounts }}
      dotnet_configuration: ${{ inputs.dotnet_configuration }}
      environment_name: ${{ inputs.environment_name }}
    secrets:
      NUGET_ORG_USER: ${{ secrets.NUGET_ORG_USER }}
      NUGET_ORG_TOKEN: ${{ secrets.NUGET_ORG_TOKEN }}

  build_spa:
    name: Build SPA
    if: inputs.spa_folder
    uses: Shane32/SharedWorkflows/.github/workflows/build-spa.yml@2.3.0
    with:
      spa_folder: ${{ inputs.spa_folder }}
      spa_version_env: ${{ inputs.spa_version_env }}
      npm_build_script: ${{ inputs.npm_build_script }}
      npm_dist_folder: ${{ inputs.npm_dist_folder }}
      persisted_documents_file: ${{ inputs.persisted_documents_file }}
      environment_name: ${{ inputs.environment_name }}
      npm_analyze_script: ${{ inputs.npm_analyze_script }}
      analysis_files: ${{ inputs.analysis_artifacts }}
      npm_accounts: ${{ inputs.npm_accounts }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy_msdeploy_netonly:
    name: Deploy to IIS with MSDeploy
    needs: [build_dotnet, check_msdeploy_config]
    if: inputs.dotnet_folder && needs.check_msdeploy_config.outputs.has_config == 'true' && !inputs.spa_folder
    uses: Shane32/SharedWorkflows/.github/workflows/deploy-msdeploy.yml@2.3.0
    with:
      environment_name: ${{ inputs.environment_name }}
      msdeploy_server_url: ${{ inputs.msdeploy_server_url }}
      msdeploy_site_name: ${{ inputs.msdeploy_site_name }}
      msdeploy_username: ${{ inputs.msdeploy_username }}
      msdeploy_allow_untrusted: ${{ inputs.msdeploy_allow_untrusted }}
      msdeploy_do_not_delete: ${{ inputs.msdeploy_do_not_delete }}
    secrets:
      msdeploy_password: ${{ secrets.msdeploy_password }}

  deploy_msdeploy_spaonly:
    name: Deploy to IIS with MSDeploy
    needs: [build_spa, check_msdeploy_config]
    if: inputs.spa_folder && needs.check_msdeploy_config.outputs.has_config == 'true' && !inputs.dotnet_folder
    uses: Shane32/SharedWorkflows/.github/workflows/deploy-msdeploy.yml@2.3.0
    with:
      artifact_name: '.spa-app'
      persisted_documents_artifact: ${{ inputs.persisted_documents_file && 'persisted-documents' || '' }}
      environment_name: ${{ inputs.environment_name }}
      msdeploy_server_url: ${{ inputs.msdeploy_server_url }}
      msdeploy_site_name: ${{ inputs.msdeploy_site_name }}
      msdeploy_username: ${{ inputs.msdeploy_username }}
      msdeploy_allow_untrusted: ${{ inputs.msdeploy_allow_untrusted }}
      msdeploy_do_not_delete: ${{ inputs.msdeploy_do_not_delete }}
    secrets:
      msdeploy_password: ${{ secrets.msdeploy_password }}

  deploy_msdeploy_combination:
    name: Deploy to IIS with MSDeploy
    needs: [build_dotnet, build_spa, check_msdeploy_config]
    if: inputs.dotnet_folder && needs.check_msdeploy_config.outputs.has_config == 'true' && inputs.spa_folder
    uses: Shane32/SharedWorkflows/.github/workflows/deploy-msdeploy.yml@2.3.0
    with:
      spa_artifact: '.spa-app'
      persisted_documents_artifact: ${{ inputs.persisted_documents_file && 'persisted-documents' || '' }}
      environment_name: ${{ inputs.environment_name }}
      msdeploy_server_url: ${{ inputs.msdeploy_server_url }}
      msdeploy_site_name: ${{ inputs.msdeploy_site_name }}
      msdeploy_username: ${{ inputs.msdeploy_username }}
      msdeploy_allow_untrusted: ${{ inputs.msdeploy_allow_untrusted }}
      msdeploy_do_not_delete: ${{ inputs.msdeploy_do_not_delete }}
    secrets:
      msdeploy_password: ${{ secrets.msdeploy_password }}

  dotnet_release_assets:
    name: Publish .NET Release Assets
    needs: [build_dotnet]
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download .NET artifact
        uses: actions/download-artifact@v7
        with:
          name: '.net-app'
          path: netapp
      - name: Zip files together
        working-directory: netapp
        run: zip -r ../net-app.zip .
      - name: Upload net-app.zip as Release Asset
        uses: actions/github-script@v8
        continue-on-error: true
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const fileData = fs.readFileSync(path.join(process.cwd(), 'net-app.zip'));
            const uploadResult = await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: context.payload.release.id,
              name: 'net-app.zip',
              data: fileData,
              headers: {
                'content-type': 'application/zip',
                'content-length': fileData.length,
              },
            });
  
  spa_release_assets:
    name: Publish SPA Release Assets
    needs: [build_spa]
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download SPA artifact
        uses: actions/download-artifact@v7
        with:
          name: '.spa-app'
          path: spaapp
      - name: Zip files together
        working-directory: spaapp
        run: zip -r ../spa-app.zip .
      - name: Upload spa-app.zip as Release Asset
        uses: actions/github-script@v8
        continue-on-error: true
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const fileData = fs.readFileSync(path.join(process.cwd(), 'spa-app.zip'));
            const uploadResult = await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: context.payload.release.id,
              name: 'spa-app.zip',
              data: fileData,
              headers: {
                'content-type': 'application/zip',
                'content-length': fileData.length,
              },
            });

  analyze_release_assets:
    name: Publish SPA Analysis Release Assets
    needs: [build_spa]
    if: github.event_name == 'release' && inputs.analysis_artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download SPA analysis artifact
        uses: actions/download-artifact@v7
        with:
          name: analysis
          path: analysis
      - name: Zip files together
        working-directory: analysis
        run: zip -r ../analysis.zip .
      - name: Upload analysis.zip as Release Asset
        uses: actions/github-script@v8
        continue-on-error: true
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const fileData = fs.readFileSync(path.join(process.cwd(), 'analysis.zip'));
            const uploadResult = await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: context.payload.release.id,
              name: 'analysis.zip',
              data: fileData,
              headers: {
                'content-type': 'application/zip',
                'content-length': fileData.length,
              },
            });

  persisted_docs_release_assets:
    name: Publish SPA Persisted Documents Release Assets
    needs: [build_spa]
    if: github.event_name == 'release' && inputs.persisted_documents_file
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download SPA persisted-documents artifact
        uses: actions/download-artifact@v7
        with:
          name: persisted-documents
          path: persisted-documents
      - name: Zip files together
        working-directory: persisted-documents
        run: zip -r ../persisted-documents.zip .
      - name: Upload persisted-documents.zip as Release Asset
        uses: actions/github-script@v8
        continue-on-error: true
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const fileData = fs.readFileSync(path.join(process.cwd(), 'persisted-documents.zip'));
            const uploadResult = await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: context.payload.release.id,
              name: 'persisted-documents.zip',
              data: fileData,
              headers: {
                'content-type': 'application/zip',
                'content-length': fileData.length,
              },
            });
